<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.MyOut.myout">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name="com.MyOut.myout.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyOut">
        <activity android:name="com.MyOut.myout.InstructionsSquat"
            android:theme="@style/NoActionBarTheme"
            android:screenOrientation="portrait"></activity>
        <activity android:name="com.MyOut.myout.SquatDetail"
            android:theme="@style/NoActionBarTheme"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.MyOut.myout.WallSitDetail"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name="com.MyOut.myout.PlankDetail"
            android:theme="@style/NoActionBarTheme" />

        <receiver
            android:name="com.MyOut.myout.TimerNotificationActionReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="stop" />
                <action android:name="pause" />
                <action android:name="resume" />
                <action android:name="start" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.MyOut.myout.TimerExpiredReceiver"
            android:enabled="true"
            android:exported="false" />
        <receiver
            android:name="com.MyOut.myout.AlarmReceiver"
            android:enabled="true" />
        <receiver
            android:name="com.MyOut.myout.BootReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.MyOut.myout.InstructionsPushUps"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name="com.MyOut.myout.InstructionsPlank"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name="com.MyOut.myout.InstructionsWallSit"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name="com.MyOut.myout.Squat"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name="com.MyOut.myout.SignUp"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name="com.MyOut.myout.Charts"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name="com.MyOut.myout.SettingsProfile"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name="com.MyOut.myout.Social"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name="com.MyOut.myout.Profile"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name="com.MyOut.myout.ui.Running"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name="com.MyOut.myout.WallSit"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name="com.MyOut.myout.Plank"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name="com.MyOut.myout.ChoosePlankWallSit"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name="com.MyOut.myout.PushUp"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name="com.MyOut.myout.PushUpDetail"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name="com.MyOut.myout.IndexActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarTheme">
        </activity>
        <activity
            android:name="com.MyOut.myout.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarTheme"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.MyOut.myout.services.TrackingService"
            android:foregroundServiceType="location" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_api_key" />
    </application>

</manifest>